*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
    width: 100%;
}
/*************Header**********/
header{
    display: flex;
    grid-column: 1/-1;
    background: #07C4FF;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 0;
}
h1{
    font-weight: 700;
}
header > nav{
    min-width: 50%;
    display: flex;
    justify-content: space-around;
}
header > nav > a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin-left: 10px
}
/**************FOOTER************/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #282828;
    color: rgba(255, 255, 255, 0.733);
    grid-column: 1/-1;
    min-height: 120px;
}
footer p:first-of-type{
    align-self: flex-end;
    margin-bottom: 20px;
}

        /**************Découvrir Entreprise*********/
.decouvrirEntreprise{
    margin-top: 0;
    background:linear-gradient(#07c5ff45, rgba(28, 28, 28, 0.7)),  url('../images/decouvrir.jpg') #28282891 center/100% no-repeat ;
    min-height: 300px;
    grid-column: 1/-1;
    color: white;
    text-align: center;
    font-family: 'Cairo' , sans-serif;
}
.decouvrirEntreprise > p:first-child{
    font-size: 30px;
    margin-top: 120px;
}
.btnDecouvrir{
    background-color: #07C4FF;
    width: min-content;
    padding: 15px;
    font-size: 18px;
    margin:50px auto 15px auto;
    border-radius: 15px;
} 
.btnDecouvrir:hover{
    cursor: pointer;
}
/***********************Actualités*****************/
.actualites{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
}
.actualites > h2{
    grid-column: 1/-1;
    margin: 40px auto 40px auto;
}
.actualites .article{
    font-size: 14px;
    box-shadow: 2px 3px #28282827;
    border-radius: 15px; 
    border-top: 2px solid #07C4FF;
}
.actualites .article img{
    width: 100%;
}
.actualites .article p {
padding : 10px
}
/******************************Fondateur****************/
.fondateur{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin-top: 60px;
    min-height: 350px;
    text-align: center;
    font-family: 'Cairo',sans-serif;
}
.fondateur .imageFondateur{
    background: url("../images/fondateur.jpg") top no-repeat;
    grid-column: 1/3;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/******************************************************************************************************************/
/******************PAGE NOS SERVICES*******************************************************************************/
/*****************************************************************************************************************/
/*********************************************************/

#titreservice{
    background-color: cadetblue;
    
}
.noservicesgrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    max-width: 60rem;
    margin: 0 auto;
    gap:10px;
}

.articleservice{
    background-color: rgb(247, 240, 240);
    height: 250px;
}

.articleservice a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 9, 202);
    padding-left: 10px;
}

.articleservice p{
    text-align: justify;
    padding: 0 10px 0 10px;
}
    
.imageservice{
    width: 100%;
    
}


/******************************************************************************************************************/
/******************PAGE GESTION DE PROJET*******************************************************************************/
/*****************************************************************************************************************/
#blocparagraphe{
    display: flex;
    flex-direction: row;
}

#blocparagraphe p{
    text-align:justify;
    
}

.gestion{
    margin: 0  0.2rem 0 0.2rem;
    background-color: rgb(247, 240, 240);
    padding: 1rem;
}

.gestion img{
    max-width: 410px;
}

.gestion h3{
    color: rgb(28, 9, 202);
}

.maingestion{
    background: #07c5ffad;
}


/****************** PAGE NOS REALISATIONS *******************/
.wrapper, .wrappers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4 , auto); 
    max-width: 90rem;
    margin: 0 auto;
    gap: 7px;
}

#photo {
    min-width: 100%;
    margin-bottom: 1rem;
    max-height: 600px;
}

#photo1 {
    max-width: 100%; 
}

.part1 {
    grid-row: 1/3;
}

.part2 {
    grid-column: 2/4;
    grid-row: 3/5;
}

.wrapper > article, .wrappers > article{
    background-color:rgb(247, 240, 240);
    text-align:justify;
    box-shadow: 2px 3px #1e114727;
    padding: 15px;
}

.fondateur .imageFondateur h2{
    background-color: #07c5ff44;
    width: 100%;
    padding: 10px 0 10px 0;
    font-weight: 600;
}
.fondateur .descriptionFondateur{
    grid-column: 3/-1;
    background-color: #07c5ff65;
    padding: 20px;
    text-align: left;
    font-size: 14px;
}
/******************************Vie de bureau****************/
.bureau{
    color: white;
    margin-top: 60px;
    grid-column: 1/-1;
    background: url("../images/vieBureau.jpg") center/100% no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.joindre{
    width: max-content;
}
.descriptionBureau{
    background-color: #07c5ff65;
    height: 250px;
    padding: 50px;
    text-align: center;
}
.descriptionBureau p{
    margin-top: 50px;
    font-size: 14px;
}