.descriptionHebergement{
    grid-column: 1/-1;
    background: linear-gradient(#07c5ff59,#2828280e),url("../images/hebergement.jpg") bottom/100% no-repeat;
    min-height: 400px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.descriptionHebergement > p:first-of-type{
    width: 60%;
    background-color: #28282833;
    padding-top: 30px;
}
.btnCommander{
    background-color: rgba(0, 255, 255, 0.918);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 600;
}

.offresHebergement{
    grid-column: 1/-1;
    margin-bottom: 100px;
}
.offresHebergement .hebergementWrapper{
    width: 80%;
    margin: -50px auto;
    padding-bottom: 100px;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #07c5ff96;
}
.offre{
    text-align: center;
    border-radius: 15px;
    background-color: azure;
    box-shadow: 3px 2px rgba(0, 0, 0, 0.349);
}
.offre h2{
    font-weight: 500;
}
.enteteOffre {
    width: 70%;
    margin:-15px auto;
    padding: 10px;
    border-radius: 5px;
}
.offre1 .enteteOffre{
    background:linear-gradient(to top, rgb(17, 226, 121),#07c5ff);
}
.offre3 .enteteOffre{
    background:linear-gradient(to top, rgba(0, 255, 255, 0.918),#07c5ff);
}
.offre2 .enteteOffre{
    background:linear-gradient(to top, rgba(57, 9, 168, 0.918),#07c5ff);
}
.offre1,.offre3{
    margin-top: 35px;
}
ul{
    list-style: none;
    padding-top: 30px;
}
ul  li{
    padding-right: 20px;
    line-height: 40px;
}
ul  li i{
    color:rgb(6, 161, 27);
}