.contactSectionWrapper{
    grid-column: 1/-1;
    display: grid;
    background:linear-gradient(#07c5ffad,#28282893),url("../images/contact.jpg") center/100% no-repeat;
    color: white;
    grid-template-columns: repeat(12,1fr);
}
.descriptionContact{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 50px 0;
}
.descriptionContact p{
    width: 50%;
    text-align: center;
    padding-top: 20px;
}
.map{
    grid-column: 1/-1;
}
.map  iframe{
    width: 100%;
}

.formContact{
    grid-column: 4/10;
    background:linear-gradient(#07C4FF,#282828b4);
    margin-bottom: 30px;
    border-radius: 5px; 
}
.formContact form{
    color: white;
    font-size: 16px;
    font-family: 'Montserrat' , sans-serif;
}
.formContact label , input , textarea,select{
    display: block;
    width: 70%;
    border-radius: 8px;
    margin: 10px auto;
    border: none;
}
.formContact input , textarea,select,option{
    height: 50px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.603);
}
.formContact input[type="submit"]{
    background-color: #07C4FF;
    font-size: large;
    font-weight: 500;
}
.formContact input[type="submit"]:hover{
    cursor: pointer;
}